.end-revision-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke);
}
.end,
.end-revision {
  display: flex;
  position: relative;
}
.end {
  height: 60px;
  flex: 1;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.end-revision {
  width: 120px;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.what-is-the {
  margin: 0;
  height: 366px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.show-answer-icon {
  height: 120px;
  width: 120px;
  position: relative;
  cursor: pointer;
}
.show-answer-wrapper {
  width: 861px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.flashcard,
.light-flashcard-front {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font-outfit);
}
.light-flashcard-front {
  align-self: stretch;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32.77px;
  background-color: var(--color-whitesmoke);
  align-items: center;
  padding: var(--padding-121xl) var(--padding-xl) var(--padding-xl);
  max-width: 100%;
  font-size: var(--font-size-40xl);
  color: var(--color-darkslategray);
}
.flashcard {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  align-items: flex-end;
  padding: 31px var(--padding-55xl) 244px;
  gap: 43px;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray);
}
@media screen and (max-width: 750px) {
  .end {
    font-size: var(--font-size-13xl);
  }
  .what-is-the {
    font-size: var(--font-size-28xl);
  }
  .flashcard {
    gap: 21px;
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .light-flashcard-front {
    padding-top: var(--padding-72xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .end {
    font-size: var(--font-size-5xl);
  }
  .what-is-the {
    font-size: var(--font-size-16xl);
  }
}
