body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-40xl: 59px;
  --font-size-16xl: 35px;
  --font-size-28xl: 47px;

  /* Colors */
  --color-whitesmoke: #f4f4f4;
  --color-whitesmoke-100: #eee;
  --color-darkslategray: #4b4b4b;
  --color-gray: #939393;
  --color-dimgray: #686868;

  /* Gaps */
  --gap-16xl: 35px;
  --gap-10xs: 3px;
  --gap-11xs: 2px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-8xs: 5px;
  --padding-xs: 12px;
  --padding-15xl-7: 34.7px;
  --padding-55xl: 74px;
  --padding-18xl: 37px;
  --padding-121xl: 140px;
  --padding-72xl: 91px;
  --padding-3xl: 22px;

  /* Border radiuses */
  --br-4xs: 9px;
  --br-13xl-8: 32.8px;
  --br-14xl-2: 33.2px;
}
