.what-is-the1 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.f-ma,
.force-equation-child {
  align-self: stretch;
  position: relative;
}
.force-equation-child {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.f-ma {
  margin-right: -0.3000000000001819px;
  height: 177.7px;
  font-weight: 500;
  display: inline-block;
  transform: rotate(0.2deg);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.f-ma-where-m-is-mass-and-wrapper {
  margin-top: -1.2999999999999543px;
  margin-left: -811.3px;
  width: 811.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 1623%;
  flex-shrink: 0;
}
.vector-icon10 {
  height: 50px;
  width: 50px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.force-equation,
.frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  height: 175px;
  flex-direction: row;
  padding: 0 0 125px 811px;
  box-sizing: border-box;
}
.force-equation {
  width: 861px;
  flex-direction: column;
  gap: 35.1px;
  font-size: 60px;
  color: var(--color-gray);
}
.show-answer-icon1 {
  height: 120px;
  width: 120px;
  position: relative;
  cursor: pointer;
}
.show-answer-container {
  width: 861px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.light-flashcard-back {
  align-self: stretch;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32.77px;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-121xl) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 39px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-40xl);
  color: var(--color-darkslategray);
  font-family: var(--font-outfit);
}
.answer-instance,
.answer-instance1,
.answer-instance2,
.answer-instance3 {
  border: 0;
  background-color: #aced9c;
  height: 122.9px;
  width: auto;
  outline: 0;
  flex: 1;
  position: relative;
  border-radius: 33.17px;
  min-width: 265px;
  max-width: 288px;
  cursor: pointer;
}
.answer-instance1,
.answer-instance2,
.answer-instance3 {
  background-color: #efe943;
}
.answer-instance2,
.answer-instance3 {
  background-color: #ffc077;
}
.answer-instance3 {
  background-color: #f77;
}
.difficulty-bar,
.difficulty-bar-wrapper,
.show-answer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.difficulty-bar {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16.5px;
  max-width: 100%;
}
.difficulty-bar-wrapper,
.show-answer {
  box-sizing: border-box;
}
.difficulty-bar-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 45px;
  max-width: 100%;
}
.show-answer {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: column;
  padding: 134px var(--padding-55xl) 87.1px;
  gap: 34px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-group {
    padding-left: 405px;
    box-sizing: border-box;
  }
  .difficulty-bar-wrapper {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .what-is-the1 {
    font-size: var(--font-size-28xl);
  }
  .f-ma {
    font-size: 48px;
  }
}
@media screen and (max-width: 750px) {
  .frame-group {
    padding-left: 202px;
    box-sizing: border-box;
  }
  .light-flashcard-back {
    padding-top: var(--padding-72xl);
    box-sizing: border-box;
  }
  .show-answer {
    gap: 17px;
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .what-is-the1 {
    font-size: var(--font-size-16xl);
  }
  .f-ma {
    font-size: 36px;
  }
  .frame-group {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .force-equation {
    gap: 18px;
  }
  .light-flashcard-back {
    gap: 19px;
  }
}
