.body{font-family:Outfit;}
.flashcard {
  width: 100%;
  background-color: var(--color-lightgray);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  align-items:center;
}
.light-flashcard-front, 
.light-flashcard-back{
  width: 100%;
  display: flex;
  align-self: center;
  padding: 20% 5%;
  box-sizing: border-box;
  max-width: 100%;
  color: #4b4b4b;
}
.difficulty-bar,
.light-flashcard-back{
  display: none;
}
.light-flashcard-child {
  width: 70%;
  aspect-ratio:2/1;
  position: fixed;
  margin-top: 0%;
  left: 50%;
  transform: translate(-50%);
  align-self: center;
  border-radius: 20px;
  font-size: 60px;
  text-align:center;
  background-color: #f4f4f4;
}
.question {
  position: relative;
  font-family: Outfit;
  margin-top:5%;
  font-weight: 800;
}
.button-container {
    position:relative;
    magin-top: auto;
    margin-bottom:5%;
    align-items: center;
}
.show-answer-icon {
  position: fixed;
  transform: translate(0,-18%);
  width: 18%;
  height: 18%;
  cursor: pointer;
}
.vector-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 19px 0 16.9px;
  box-sizing: border-box;
}
.frame-child {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.answer-space{
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  width: 841px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 1px 0 0;
}}
.card-text {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: Outfit;
}
.difficulty-bar{
  position: relative;
  margin-top:5%;
  height: 110px;
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18.7px;
  max-width: 100%;
}
.answer-instance,
.answer-instance1,
.answer-instance2,
.answer-instance3 {
  border: 0;
  background-color: #aced9c;
  height: 100%;
  width: auto;
  outline: 0;
  flex: 1;
  position: relative;
  border-radius: 14.45px;
  min-width: 297px;
  max-width: 100%;
  font-family:Outfit;
  text-align:center;
}
.answer-instance1{
  background-color: #efe943;
}
.answer-instance2{
  background-color: #ffc077;
}
.answer-instance3{
  background-color: #f77;
}
@media screen and (max-width: 600px) {
    .main-container {
        width: 90%;
        max-width: 400px;
    }

    .the-front h1, .the-back h1 {
        font-size: 24px;
    }

    .the-front p, .the-back p {
        font-size: 14px;
    }
}
