body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-outfit: Outfit;

  /* Colors */
  --color-whitesmoke: #f4f4f4;
  --color-whitesmoke-100: #eee;
  --color-darkslategray: #4b4b4b;
  --color-gray: #939393;
  --color-dimgray: #686868;

  /* Border radiuses */
  --br-4xs: 9px;
  --br-13xl-8: 32.8px;
  --br-14xl-2: 33.2px;
}
