.f-r-a-m-e-q-a {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 11.95px;
  background-color: #fcbc71;
}
.f-r-a-m-e-q-a-wrapper {
  height: 109.6px;
  width: 95.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14.3px 0 0;
  box-sizing: border-box;
}
.physics {
  position: relative;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.vector-icon {
  width: 35.1px;
  height: 28.1px;
  position: relative;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.9px 0 0;
}
.cards {
  position: relative;
  font-weight: 500;
}
.f-r-a-m-e-docs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: 38.2px;
  color: var(--color-dimgray);
}
.vector-icon1 {
  width: 20.8px;
  height: 12.3px;
  position: relative;
}
.vector-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.8px 0 0;
}
.documents {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 121px;
}
.group-title,
.question-flashcards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.question-flashcards {
  flex-direction: row;
  gap: var(--gap-3xs);
  font-size: 23.9px;
  color: var(--color-gray);
}
.group-title {
  flex: 1;
  border-radius: 12.42px;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  padding: 0 19px 6px;
  box-sizing: border-box;
  min-width: 468px;
  max-width: 100%;
}
.multimedia-start {
  height: 138.7px;
  width: 139.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.group-title-parent,
.start-revision-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.start-revision-button {
  border-radius: 14.36px;
  background-color: #4d55e3;
  overflow: hidden;
  padding: var(--padding-15xl-7) 34px 34.6px var(--padding-15xl-7);
  cursor: pointer;
  margin-left: -2px;
}
.group-title-parent {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  flex-wrap: wrap;
  position:fixed;
  top:0;
  padding: 0 30px 10px;
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
  z-index:1;
}
.question,
.vector-icon2 {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.question {
  flex: 1;
  font-weight: 500;
  display: inline-block;
  min-width: 142px;
  max-width: 100%;
}
.vector-icon2 {
  width: 40px;
  height: 40px;
}
.question-parent,
.vector-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-frame {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  margin-left: -40px;
}
.question-parent {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
  row-gap: 20px;
}
.answer-123,
.flashcard-title-child {
  align-self: stretch;
  position: relative;
}
.flashcard-title-child {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.answer-123 {
  height: 160px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  color: var(--color-gray);
  display: inline-block;
}
.flashcard-title {
  width: 499px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 34.5px;
  box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xs) 0;
  box-sizing: border-box;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.question1,
.vector-icon3 {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.question1 {
  flex: 1;
  font-weight: 500;
  display: inline-block;
  min-width: 142px;
  max-width: 100%;
}
.vector-icon3 {
  width: 40px;
  height: 40px;
}
.frame-div,
.question-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  margin-left: -40px;
}
.question-group {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
  row-gap: 20px;
}
.answer-1231,
.flashcard-title-item {
  align-self: stretch;
  position: relative;
}
.flashcard-title-item {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.answer-1231 {
  height: 160px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  color: var(--color-gray);
  display: inline-block;
}
.flashcard-title1 {
  width: 499px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 573.5px;
  box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-xs) 0;
  box-sizing: border-box;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.question2,
.vector-icon4 {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.question2 {
  flex: 1;
  font-weight: 500;
  display: inline-block;
  min-width: 142px;
  max-width: 100%;
}
.vector-icon4 {
  width: 40px;
  height: 40px;
}
.question-container,
.vector-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper1 {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  margin-left: -40px;
}
.question-container {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
  row-gap: 20px;
}
.flashcard-title-inner {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.answer-1232 {
  align-self: stretch;
  height: 160px;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  color: var(--color-gray);
  display: inline-block;
}

.span,
.span1,
.span2,
.span3,
.span4,
.span5,
.span6 {
  font-size: 2.5vw;
  text-decoration: underline;
}
.div {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.bottom-nav-bar,
.groups {
  width: 100%;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  color: var(--color-darkslategray);
  font-family: var(--font-outfit);
}
.bottom-nav-bar {
  position: fixed;
  bottom:0;
  left:0;
  margin:0;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 40px;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.groups {
  height: 1024px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 806px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 98.3px;
}