<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./static/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;800&display=swap"
    />
  </head>
  <body>
    <div class="groups">
      <div class="group-title-parent">
        <div class="group-title">
          <div class="frame-parent">
            <div class="f-r-a-m-e-q-a-wrapper">
              <div class="f-r-a-m-e-q-a"></div>
            </div>
            <div class="physics">Physics</div>
          </div>
          <div class="f-r-a-m-e-docs">
            <div class="vector-wrapper">
              <img
                class="vector-icon"
                loading="lazy"
                alt=""
                src="./static/public/vector.svg"
              />
            </div>
            <div class="cards">20 cards</div>
          </div>
          <div class="question-flashcards">
            <div class="vector-container">
              <img
                class="vector-icon1"
                loading="lazy"
                alt=""
                src="./static/public/vector-1.svg"
              />
            </div>
            <div class="documents">Documents</div>
          </div>
        </div>
        <div class="start-revision-button" id="startRevisionButton">
          <img
            class="multimedia-start"
            loading="lazy"
            alt=""
            src="./static/public/multimedia--start.svg"
          />
        </div>
      </div>
      <main class="cards-wrapper">
        <section class="cards1">
          <div class="flashcard-title">
            <div class="question-parent">
              <div class="question">Question?</div>
              <div class="vector-frame">
                <img
                  class="vector-icon2"
                  loading="lazy"
                  alt=""
                  src="./static/public/vector-2.svg"
                />
              </div>
            </div>
            <img
              class="flashcard-title-child"
              loading="lazy"
              alt=""
              src="./static/public/line-1.svg"
            />

            <div class="answer-123">ANSWER 123</div>
          </div>
          <div class="flashcard-title1">
            <div class="question-group">
              <div class="question1">Question?</div>
              <div class="frame-div">
                <img
                  class="vector-icon3"
                  loading="lazy"
                  alt=""
                  src="./static/public/vector-2.svg"
                />
              </div>
            </div>
            <img
              class="flashcard-title-item"
              loading="lazy"
              alt=""
              src="./static/public/line-1.svg"
            />

            <div class="answer-1231">ANSWER 123</div>
          </div>
          <div class="flashcard-title2">
            <div class="question-container">
              <div class="question2">Question?</div>
              <div class="vector-wrapper1">
                <img
                  class="vector-icon4"
                  loading="lazy"
                  alt=""
                  src="./static/public/vector-2.svg"
                />
              </div>
            </div>
            <img
              class="flashcard-title-inner"
              loading="lazy"
              alt=""
              src="./static/public/line-1.svg"
            />

            <div class="answer-1232">ANSWER 123</div>
          </div>
          <div class="flashcard-title3">
            <div class="question-parent1">
              <div class="question3">Question?</div>
              <div class="vector-wrapper2">
                <img
                  class="vector-icon5"
                  loading="lazy"
                  alt=""
                  src="./static/public/vector-2.svg"
                />
              </div>
            </div>
            <img
              class="line-icon"
              loading="lazy"
              alt=""
              src="./static/public/line-1.svg"
            />

            <div class="answer-1233">ANSWER 123</div>
          </div>
          <div class="flashcard-title4">
            <div class="question-parent2">
              <div class="question4">Question?</div>
              <div class="vector-wrapper3">
                <img
                  class="vector-icon6"
                  loading="lazy"
                  alt=""
                  src="./static/public/vector-2.svg"
                />
              </div>
            </div>
            <img
              class="flashcard-title-child1"
              loading="lazy"
              alt=""
              src="./static/public/line-1.svg"
            />

            <div class="answer-1234">ANSWER 123</div>
          </div>
          <div class="flashcard-title5">
            <div class="question-parent3">
              <div class="question5">Question?</div>
              <div class="vector-wrapper4">
                <img
                  class="vector-icon7"
                  loading="lazy"
                  alt=""
                  src="./static/public/vector-2.svg"
                />
              </div>
            </div>
            <img
              class="flashcard-title-child2"
              loading="lazy"
              alt=""
              src="./static/public/line-1.svg"
            />

            <div class="answer-1235">ANSWER 123</div>
          </div>
          <div class="flashcard-title6">
            <div class="question-parent4">
              <div class="question6">Question?</div>
              <div class="vector-wrapper5">
                <img
                  class="vector-icon8"
                  loading="lazy"
                  alt=""
                  src="./static/public/vector-2.svg"
                />
              </div>
            </div>
            <div class="vector-parent">
              <img class="frame-child" alt="" src="./static/public/line-1.svg" />

              <div class="answer-1236">ANSWER 123</div>
            </div>
          </div>
          <div class="flashcard-title7">
            <div class="question-parent5">
              <div class="question7">Question?</div>
              <div class="vector-wrapper6">
                <img
                  class="vector-icon9"
                  loading="lazy"
                  alt=""
                  src="./static/public/vector-2.svg"
                />
              </div>
            </div>
            <div class="vector-group">
              <img class="frame-item" alt="" src="./static/public/line-1.svg" />

              <div class="answer-1237">ANSWER 123</div>
            </div>
          </div>
        </section>
      </main>
      <footer class="bottom-nav-bar">
        <div class="nav-bar-instance"></div>
        <div class="div">
          <span class="span">&lt;</span>
          <span class="span1">1</span>
          <span class="span2">2</span>
          <span class="span3">3</span>
          <span class="span4">4</span>
          <span class="span5">10</span>
          <span class="span6">&gt;</span>
        </div>
      </footer>
    </div>

    <script>
      var startRevisionButton = document.getElementById("startRevisionButton");
      if (startRevisionButton) {
        startRevisionButton.addEventListener("click", function (e) {
          window.location.href = "./flashcard.html";
        });
      }
      </script>
  </body>
</html>
