<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/global.css" />
    <link rel="stylesheet" href="./static/upload.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;800&display=swap"
    />
  </head>
  <body>
    <div class="upload">
      <div class="light-upload">
        <div class="header">
          <h2 class="upload-file">Upload File</h2>
          <img
            class="user-interface-cancel"
            loading="lazy"
            alt=""
            src="./static/public/user-interface--cancel.svg"
          />
        </div>
        <div class="upload-area">
          <img
            class="upload-icon"
            loading="lazy"
            alt=""
            src="./static/public/upload-icon.svg"
          />

          <h2 class="upload-here">Upload Here</h2>
        </div>
        <div class="uploaded-file">
          <div class="uploaded-file1">
            <div class="file-info">
              <img
                class="image-1-icon"
                loading="lazy"
                alt=""
                src="./static/public/image-1@2x.png"
              />

              <div class="file-specs">
                <div class="biologynotesdocx">BiologyNotes.docx</div>
                <div class="mb">3MB</div>
              </div>
            </div>
            <img
              class="file-type-icon"
              loading="lazy"
              alt=""
              src="./static/public/vector2.svg"
            />
          </div>
          <div class="uploaded-file2">
            <div class="image-2-parent">
              <img
                class="image-2-icon"
                loading="lazy"
                alt=""
                src="./static/public/image-2@2x.png"
              />

              <div class="quantumphysicspdf-parent">
                <div class="quantumphysicspdf">QuantumPhysics.pdf</div>
                <div class="mb1">3MB</div>
              </div>
            </div>
            <img
              class="vector-icon11"
              loading="lazy"
              alt=""
              src="./static/public/vector2.svg"
            />
          </div>
        </div>
        <div class="next-button">
          <h2 class="next">Next</h2>
        </div>
      </div>
    </div>
  </body>
</html>
