<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" >
    <link rel="stylesheet" href="static/global.css" >
    <link rel="stylesheet" href="static/flashcard.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@500..800&display=swap"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body class = "flashcard">
      <section class = 'end'>
      <button type = "button" class='end-button'> End
      </button>
      </section>
    <section class="light-flashcard-front">
        <div class="light-flashcard-child">
            <div class="question"></div>
            <div class = 'button-container'>
            <img
            class = "flipImage"
            id="flipButton"
            loading="lazy"
            alt=""
            src="static/public/show-answer.svg"
            id="showAnswer"/>
            </div>
        </div>
      </section>

    <section class="light-flashcard-back">
        <div class="light-flashcard-child">
          <div class="question"></div>
          <div class="vector-wrapper">
            <img
              class="frame-child"
              loading="lazy"
              alt=""
              src="static/public/line-1.svg"
            />
          </div>
        <div class="answer-space">
          <div class="card-text" id = 'answer'></div>
          <img class="vector-icon" alt="" src="./static/public/vector1.svg">
        </div> 
        <div class = 'button-container'>
        <img
        class="flipImage"
        id="unflipButton"
        loading="lazy"
        alt=""
        src="static/public/show-answer.svg"
        id="showAnswer"
      /></div>
        </div>
        </section>
        <section class="difficulty-bar">
        <button type="button" class = "difficulty-button" id="answer-instance3" value=0>Very Hard</button>        
        <button type="button" class = "difficulty-button" id="answer-instance2" value=1>Hard</button>
        <button type="button" class = "difficulty-button" id="answer-instance1" value=2>Easy</button>            
        <button type="button" class = "difficulty-button" id="answer-instance" value=3>Very Easy</button>
      </section>
    
 <!--   <script>
      var showAnswer = document.getElementById("showAnswer");
      if (showAnswer) {
        showAnswer.addEventListener("click", function (e) {
         window.location.href = "show-answer.html";
        });
      }
      </script> -->
<script>
let currentIndex = 0;
const data = {{ data|tojson }};
function displayData() {
    const questions = document.querySelectorAll('.question');
    const answer = document.getElementById('answer');
    if (data.length > 0 && currentIndex < data.length) {
        questions.forEach((questionDiv) => {
            questionDiv.textContent = data[currentIndex].question;
        });
        answer.innerHTML = data[currentIndex].answer;
        MathJax.typesetPromise([answer]);
    } else {
        window.location.href = './group';
    }
}
// Loads the buttons and changing elements
document.addEventListener("DOMContentLoaded", function() {
    displayData();
    var flipButton = document.getElementById('flipButton');
    var unflipButton = document.getElementById('unflipButton');
    var frontCard = document.querySelector('.light-flashcard-front');
    var backCard = document.querySelector('.light-flashcard-back');
    var difficultyBar = document.querySelector('.difficulty-bar');
    var buttons = document.querySelectorAll('.difficulty-button');
    // Initially hide the back card
    backCard.style.display = 'none';
    difficultyBar.style.display = 'none';
    // Toggle visibility of front and back cards
    flipButton.addEventListener('click', function(event) {
        event.preventDefault();

        frontCard.style.display = 'none';
        backCard.style.display = 'flex';
        difficultyBar.style.display = 'flex';
    });
    // Toggle visibility of front and back cards
    unflipButton.addEventListener('click', function(event) {
        event.preventDefault();
        frontCard.style.display = 'flex';
        backCard.style.display = 'none';
        difficultyBar.style.display = 'none';
    });
    // Gets the difficulty for each of the flashcards
    buttons.forEach(function(button) {
        button.addEventListener("click", function() {
            var value = button.value; // Get the value attribute of the clicked button
            console.log(value); // Output the value to the console
            currentIndex++;
            displayData(); //Iterates to next flashcard in data list

            //Resets state of flashcard
            frontCard.style.display = 'flex';
            backCard.style.display = 'none';
            difficultyBar.style.display = 'none';
        });
    });
});
</script>
</body>
</html>
